	<!-- Navbar -->
<nav class="navbar-container">
		<ul class="nav navbar">
				<li class="nav-item active"><%= link_to "PORTFOLIO", root_path%></li>
				<li class="nav-item"><%= link_to "ABOUT", about_path%></li>
				<li class="nav-item"><%= link_to "RESUME", resume_path%></li>
				<li class="nav-item"><%= link_to "PODCAST", podcast_path%></li>
				<li class="nav-item"><%= link_to "YOUTUBE", youtube_path%></li>
		</ul>
</nav>

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570459061335-c3acc6926ab7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1><strong>My Passions &<br>Personality.</strong></h1>
  </div>
</div>

	<!-- Middle Part -->
<div class= "index-page">
	<div class= "container-middle">
	  <div class="index-page-content1about"></div>
		<div class="index-page-content2">
		  <p class> A few fun facts about myself </p>
			<h6> I work out of Harrisburg PA, I love pour over coffee, I have a cat named after MacGyver, my favorite number is 22, I'm not a huge fan of IPAs, I play video games like it's my life, I knew what I wanted to do at the age of 13, I downhill mountain bike, my favorite food is bacon, and I broke my left arm twice.</h6>
		</div>
	</div>
</div>