	<!-- Navbar -->
<nav class="navbar-container">
		<ul class="nav navbar">
				<li class="nav-item"><%= link_to "MARKETING SHOP", root_path%></li>
				<li class="nav-item active"><%= link_to "ABOUT", about_path%></li>
				<li class="nav-item"><%= link_to "RESUME", resume_path%></li>
				<li class="nav-item"><%= link_to "PODCAST", podcast_path%></li>
				<li class="nav-item"><%= link_to "YOUTUBE", youtube_path%></li>
		</ul>
</nav>

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570459061335-c3acc6926ab7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1><strong>My Passions &<br>Personality.</strong></h1>
  </div>
</div>

	<!-- Middle Part -->
<div class= "index-page">
	<div class= "container-middle">
	  <div class="index-page-content1about"></div>
		<div class="index-page-content2">
		  <h1> A few fun facts about myself </h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
		</div>
	</div>
</div>

	<!-- Last part Part -->
<div class="ted-cont my-5 justify-content-center">
  <div class="tedx"></div>
  <div class="ted-but">
   <h1>LISTEN TO MY TED TALK </h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
	<input class= "btn button mt-4" type="button" onclick="window.location.href='https://www.w3docs.com';" value="w3docs" />
  </div>
</div>
</div>