<div>	
  <!-- Navbar -->
  <nav class="navbar-container">
      <ul class="nav navbar">
          <li class="nav-item active"><%= link_to "MARKETING SHOP", root_path%></li>
          <li class="nav-item"><%= link_to "ABOUT", about_path%></li>
          <li class="nav-item"><%= link_to "RESUME", resume_path%></li>
          <li class="nav-item"><%= link_to "PODCAST", podcast_path%></li>
          <li class="nav-item"><%= link_to "YOUTUBE", youtube_path%></li>
      </ul>
  </nav>
    <!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540921181925-b9726bc32384?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <h1><strong>GROWTH<br> MARKETING <br>MANAGER</strong></h1>
    </div>
        <!-- Scroll --> 
    <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
    </div>
  </div>
    <!--Products -->
    <div class="middle-part">
      <div class="products">
        <h6><strong> ALL PRODUCTS </strong> </h6>
      </div>
      <div class="cards">
        <a href="/image-captions" class="card-category">
        <p>(Coming soon) </p>
        <h1>How to Spy on Competitors Facebook Ads </h1>
        <span>Get Now </span>
        </a>
        <a href="/image-captions" class="card-category">
        <p>(Coming soon) </p>
        <h1>Get more website traffic with Google Ads </h1>
        <span>Get Now </span>
        </a>
        </a>
          <a href="/image-captions" class="card-category">
        <p>(Coming soon) </p>
        <h1>How to get more sales with Google Ads </h1>
        <span>Get Now </span>
        </a>
      </div>
    </div>
  <div class="shop-descr my-5 justify-content-center">
    <div class="container">
      <h1> THE MARKETING SHOP IS HERE <br>TO HELP YOU EXPAND YOUR BUSINESS </h1>
      <div class= "descr-parag">
        <div class= "blok">
          <h6> VIDEO TUTORIALS </h6>
          <p> The training will go over some great insights <br>to help users understand how to get the <br>most out of their business.</p>
        </div>
        <div class= "blok">
          <h6> TIPS & TRICKS </h6>
          <p>Learn from my mistakes and let me show <br> you how to accomplish unique solutions <br> for your own business</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-explore justify-content-center">
    <div class="explore-text">
      <h1><strong>What I stand for as a Marketing Manager</strong></h1> 
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <%= link_to "Learn more about me", about_path, class: "btn button" %>
    </div>
    <div class="explore-button">
      <%= link_to "Learn more about me", about_path, class: "btn button" %>
    </div>
  </div>
</div>
