<div>	
  <!-- Navbar -->
  <nav class="navbar-container">
      <ul class="nav navbar">
          <li class="nav-item active"><%= link_to "MARKETING SHOP", root_path%></li>
          <li class="nav-item"><%= link_to "ABOUT", about_path%></li>
          <li class="nav-item"><%= link_to "RESUME", resume_path%></li>
          <li class="nav-item"><%= link_to "PODCAST", podcast_path%></li>
          <li class="nav-item"><%= link_to "YOUTUBE", youtube_path%></li>
      </ul>
  </nav>
    <!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540921181925-b9726bc32384?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <h1><strong>GROWTH<br> MARKETING <br>MANAGER</strong></h1>
    </div>
  </div>
    <!--Products -->
  <div class= "container">
    <div class="cards">
      <a href="/image-captions" class="card-category">
      <p>(Coming soon) </p>
      <h1>How to Spy on Competitors Facebook Ads </h1>
      <span>Get Now </span>
      </a>
        <a href="/image-captions" class="card-category">
      <p>(Coming soon) </p>
      <h1>Get more website traffic with Google Ads </h1>
      <span>Get Now </span>
      </a>
      </a>
        <a href="/image-captions" class="card-category">
      <p>(Coming soon) </p>
      <h1>How to get more sales with Google Ads </h1>
      <span>Get Now </span>
      </a>
    </div>
  </div>
</div>
