<div>
      <!-- Navbar -->
  <nav class="navbar-container">
          <ul class="nav navbar">
                  <li class="nav-item"><%= link_to "MARKETING SHOP", root_path%></li>
                  <li class="nav-item"><%= link_to "ABOUT", about_path%></li>
                  <li class="nav-item active"><%= link_to "RESUME", resume_path%></li>
                  <li class="nav-item"><%= link_to "PODCAST", podcast_path%></li>
                  <li class="nav-item"><%= link_to "YOUTUBE", youtube_path%></li>
          </ul>
  </nav>
    <!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1572610283235-8d3b4a70c60e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <h1><strong>DIG A LITTLE<br>DEEPER</strong></h1>
      <div class="button">
        <a href="/files/download-file.pdf" download >Download Resume</a>
      </div>
    </div>
  </div>

  <div>
    <div class="experience">
      <div class = "experience-title">
        <h2> Work Experience </h2>
      </div>
      <div class = "experience-descr">
      <h3> Mercedes-Benz.io | Berlin,Germany | 2019-Present </h3>
      <h4>My Role: </h4>
      <ul>
        <li>Growth Manager at two MB.io products: Bertha.app and Mercedes Me Service app </li>
        <li>Improving the user acquisition flow </li>
        <li>Aligning with Product Management and Daimler Product Lead about marketing and growth strategies</li>
        <li>Manage large project performance marketing budget </li>
        <li>Running paid campaigns </li>
      </ul>
      <h4>Success:</h4>
      <ul>
        <li>23x increase of paying users in 2020 through paid ads and special incentivised programs </li>
        <li>Supporting in creation of business case for both products</li>
        <li>Trnsitioning marking efforts to external agency</li>
        <li>Creating data visualisation board</li>
      </ul>
      </div>
    </div>
        <div class="experience">
      <div class = "experience-title">
        <h2> Internship </h2>
      </div>
      <div class = "experience-descr">
      <h3> Mercedes-Benz Bank | Stuttgart,Germany | 2018</h3>
      <i>Worked with Daimler Financial Services on the M&A of Athlon International </i>
      <h4>My Role: </h4>
      <ul>
        <li>Supporting in cost management of 13 sub-projects and 11 countries</li>
        <li>'Gatekeeping' budget and budget request approvals</li>
        <li>Organising change management seminars in Germany,NL,France</li>
      </ul>
      </div>
    </div>
  </div>

</div>