<div>
      <!-- Navbar -->
  <nav class="navbar-container">
          <ul class="nav navbar">
                  <li class="nav-item"><%= link_to "MARKETING SHOP", root_path%></li>
                  <li class="nav-item"><%= link_to "ABOUT", about_path%></li>
                  <li class="nav-item active"><%= link_to "RESUME", resume_path%></li>
                  <li class="nav-item"><%= link_to "PODCAST", podcast_path%></li>
                  <li class="nav-item"><%= link_to "YOUTUBE", youtube_path%></li>
          </ul>
  </nav>
</div>